<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
    <div class="container">
        <h3>Dossier Client</h3>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#"><i class="zmdi zmdi-notifications text-danger"></i></a>
            </li>
            <li><a href="#">Test User</a></li>
        </ul>
    </div>
</nav>