<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">produit</li>
    </ol>
    <div class="container">
        <h3>Gestion des produit</h3>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a routerLink="/produit-form">Ajouter produit</a></li>
            <li><a routerLink="/produits">Liste produits</a></li>
        </ul>
    </div>
</nav>