<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
    </ol>
    <div class="container">
        <h3>Gestion des utilisateurs</h3>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a routerLink="/user-form">Ajouter utilisateur</a></li>
            <li><a routerLink="/users">Liste utilisateurs</a></li>
        </ul>
    </div>
</nav>