<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">fournisseur</li>
    </ol>
    <div class="container">
        <h3>Gestion des fournisseurs</h3>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a routerLink="/produits">Gestion des produits</a></li>
            <li><a routerLink="/fournisseurs">Gestion des fournisseurs</a></li>
            <li><a routerLink="/produits">Gestion des clients</a></li>
        </ul>
    </div>
</nav>
<div class="text-center btn-margs">
    <button class="btn btn-primary" routerLink="/fournisseur-form">Ajouter fournisseur</button>
    <span>&nbsp;</span>
    <button class="btn btn-primary" routerLink="/fournisseurs">Listes fournisseurs</button>
</div>